<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TENGesture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76E76BF21BB2AB7C0066D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E76C0B1BB2AB7D0066D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E76C161BB2AB7D0066D946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
